STEAM_API_KEY=your_steam_api_key_here
GCP_PROJECT_ID=your_gcp_project_id
GCP_BUCKET_NAME=your_unique_gcs_bucket_name
BQ_DATASET_RAW=raw_steam
BQ_DATASET_ANALYTICS=analytics
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service_account.json